/baseline_conv_network/test_set_images/
/baseline_conv_network/training/
/baseline_conv_network/test.py
/baseline_conv_network/predictions_training/
/baseline_conv_network/training.zip
/baseline_conv_network/predictions_testing/
/baseline_conv_network.zip
/baseline_conv_network/test_set_images.zip
/baseline_conv_network/baseline_submission.csv
/conv_1/training/images/
/conv_1/training/
/conv_1/test_set_images/
/conv_1/predictions_training/
/conv_1/stored_weights/
/conv_1/stored_weights/
/conv_2/test_set_images/
/conv_2/training/
/conv_3/test_set_images/
/conv_3/training/
/conv_2/stored_weights/
/baseline_conv_network/stored_weights/
/conv_3/stored_weights/
/Data/augmented_training/
/conv_3/augmented_training/
/conv_3/augmented_training.zip
/conv_3/predictions_testing/
/conv_3/predictions_testing/
/conv_3/conv3_submission.csv
/encoder/augmented_training/
/keras1/augmented_training/
/keras1/baseline.model/
