/baseline_conv_network/test_set_images/
/baseline_conv_network/training/
/baseline_conv_network/test.py
/baseline_conv_network/predictions_training/
/baseline_conv_network/training.zip
/baseline_conv_network/predictions_testing/
/baseline_conv_network.zip
/baseline_conv_network/test_set_images.zip
/baseline_conv_network/baseline_submission.csv
/conv_1/training/images/
/conv_1/training/
/conv_1/test_set_images/
